/* Write your CSS here */
.btn {
  background-color: #585076;
  height: 35px;
  width: 150px;
  border: 2px solid #e7e6ee;
  border-radius: 4px;
  margin: 10px;
  color: aliceblue;
  font-size: 14px;
}
